@model CoffeeApp.ViewModels.CoffeeIndexData

@{
    ViewBag.Title = "Coffee Stores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            StoreName
        </th>
        <th>
            Location
        </th>
        <th>
           OpeningTime
        </th>
        <th>
           ClosingTime
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string selectedRow = "";
    if (item == ViewBag.InstructorID)
    {
        selectedRow = "selectedrow";
    }
    <tr class="@selectedRow" valign="top">
<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eircode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Eircode }) |
            @Html.ActionLink("Details", "Details", new { id=item.Eircode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Eircode })
        </td>
    </tr>
}

</table>
